@media (max-height: 800px) and (max-width: 1290px) {
  span.welcome_image {
    max-width: 550px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 5vh;
    max-height: 400px;
    overflow: hidden;
}

}