@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navbar-collapse.collapse {
    display: inline-block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible!important;
    width: calc(100% - 355px) !important;
  }
  .fixed-nav_ {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 125px;
      float: right;
      padding-right: 16px;
  }
  .fixed-nav_ .nav>li:last-child >a {
    position: relative;
    display: inline-block;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 0;
  }
  li.notification {
    padding-right: 20px;
  }
  .nav>li>a {
      position: relative;
      display: block;
      padding-left: 17px;
      padding-right: 17px;
  }
  .modal-dialog.sm {
      width: 400px;
  }
  .modal-body {
      position: relative;
      padding: 30px 40px 40px;
  }
  span.welcome_image {
    max-width: 850px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 5vh;
    max-height: 400px;
    overflow: hidden;
    width: auto;
}
.about.nav-pills>li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav.about>li>a {
    position: relative;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    border-radius: 0;
    padding-bottom: 18px;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-left: 10px;
}
.tab-pane {
    padding-left: 50px;
}


}